@import url('./fredoka.css');


html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    background-color: rgb(37, 37, 37);
}

body {
    display: grid;
    font-family: 'Fredoka', sans-serif;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin: 0 auto;
	max-width: 1200px;
    color: rgb(236, 236, 236);
}

body, header, main, footer {
    width: 100%;
}

header {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: center;
	padding: 0 1rem;
    box-sizing: border-box;
}

header a {
    position: relative;
    z-index: 100;
    background-color: #4d4d4d;
	width: fit-content;
    height: fit-content;
    border-radius: 0 0 20px 20px;
}

header a,
header a:hover,
header a:focus {
    text-decoration: none;
}

header img {
    height: 10rem;
}

.site-name {
    display: none;
}

#github-banner {
    background: url(../images/blacktocat.png) #71449e no-repeat 95% 50%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: fit-content;
	padding: 10px 50px 10px 10px;
	color: #fff;
	font-weight: 500;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-sizing: border-box;
}
header a#github-banner:hover,
header a#github-banner:focus {
    text-decoration: underline;
    padding-top: 16px;
}

main {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    place-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#quiz-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
	place-items: center;
	justify-content: center;
	max-width: 30rem;
    max-height: calc(100vh - 6rem);
	overflow-x: hidden;
}

#quiz-title {
    width: 100%;
	font-size: 1.4rem;
	color: #252525;
	text-align: center;
	background-color: #c5870c;
	padding: .4rem;
	box-sizing: border-box;
	border-radius: 10px;
	margin-bottom: 1rem;
	border: .5rem solid #d09625;
}

#quiz-score {
    font-weight: 600;
}

#quiz-primary-area {
    height: calc(100vh - 20rem);
    max-height: 30rem;
    width: 100%;
    background-color: #2f2f2f;
    border: .5rem solid #2f2f2f;
    box-sizing: border-box;
    border-radius: .5rem;
    text-align: center;
    overflow: hidden;
}

#quiz-character-image {
    height: 100%;
	max-width: 100%;
	box-sizing: border-box;
    border-radius: .5rem;
}

#quiz-secondary-area {
    width: 100%;
    background-color: #2f2f2f;
    border: .5rem solid #2f2f2f;
    border-radius: .5rem;
    box-sizing: border-box;
    text-align: center;
    margin: 1rem 0;
    font-weight: 500;
}

#quiz-question-wrapper {
    width: 100%;
    text-align: center;
    background-color: rebeccapurple;
    box-sizing: border-box;
    border-radius: .5rem;
    padding: 0.4rem 0.6rem 0.6rem;
	border: .5rem solid #582c84;
}

#quiz-question {
    margin: .2rem 0 .8rem;
}

#quiz-propositions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
    width: 100%;
    max-width: 22rem;
	margin: 0 auto;
}

#quiz-propositions button {
    width: 100%;
    border: 2px solid #797777;
	font-family: inherit;
	background-color: #4d4d4d;
	color: inherit;
	padding: .4rem;
	border-radius: .375rem;
    box-sizing: border-box;
    cursor: pointer;
}

#quiz-propositions button:hover,
#quiz-propositions button:focus {
    background-color: #db9100;
	border-color: #e7a82d;
	color: #252525;
	font-weight: 500;
}

.right-answer {
    background-color: #82b017;
	border-color: #a5cf43;
	color: #252525;
	font-weight: 500;
}

.wrong-anwser {
    background-color: #c82525;
	border-color: #e64848;
	color: white;
	font-weight: 500;
}

footer {
    text-align: center;
    margin: 0 auto;
	padding: .6rem 1.2rem;
	width: fit-content;
	border-radius: .5rem .5rem 0 0;
	background-color: #3e1e5e;
    box-sizing: border-box;
}

footer p {
    font-size: .9rem;
    margin: 0;
}

footer a {
    color: #c6870c;
}

footer a:hover,
footer a:focus {
    color: #f0a81a;
}