
html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    background-color: rgb(37, 37, 37);
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin: 0 auto;
	max-width: 1200px;
    color: rgb(236, 236, 236);
}

body, header, main, footer {
    width: 100%;
}

header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: center;
	padding: 0 1rem;
    box-sizing: border-box;
}

header a {
    background-color: #4d4d4d;
	width: fit-content;
    height: fit-content;
    border-radius: 0 0 20px 20px;
}

header a,
header a:hover,
header a:focus {
    text-decoration: none;
}

header img {
    height: 10rem;
}

.site-name {
    display: none;
}

#github-banner {
    background: url(../images/blacktocat.png) #c4880c no-repeat 95% 50%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: fit-content;
	padding: 10px 50px 10px 10px;
	color: #fff;
	font-weight: 700;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-sizing: border-box;
}

main {
    grid-row: 1;
    display: flex;
    place-items: center;
    justify-content: center;
}

#quiz-wrapper {
    width: fit-content;
    height: fit-content;
}

footer {
    text-align: center;
}