<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="{{ '/assets/fonts/fredoka/latin.woff2'| relative_url }}" rel="preload" as="font" type="font/woff2" crossOrigin="anonymous">
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet preload prefetch" as="style" type="text/css">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}" color="#962cb4">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-TileColor" content="#962cb4">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/starquiz_logo.png' | relative_url }}"><h1 class="site-name">{{ site.title | default: site.github.repository_name }}</h1></a>
      <a id="github-banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    </header>
    <main id="content" class="main-content" role="main">
        <div id="quiz-wrapper">
            <div id="quiz-title">
				<span id=quiz-score-wrapper>Score: <span id="quiz-score">12</span></span>
				<span id=quiz-lives-wrapper>Lives: <span id="quiz-lives">||| III lll</span></span>
			</div>
            <div id="quiz-primary-area"><img id="quiz-character-image" src="https://vignette.wikia.nocookie.net/starwars/images/2/20/LukeTLJ.jpg"></div>
            <h3 id="quiz-secondary-area">Luke Skywalker</h3>
            <div id="quiz-question-wrapper">
            	<p id="quiz-question">Which one was a master of this character?</p>
				<div id="quiz-propositions">
					<button id="quiz-proposition1" type="button">Dark Vador</button>
					<button id="quiz-proposition2" type="button">Obi-Wan Kenobi</button>
				</div>
				<button id="main-action" type="button">NEW QUESTION</button>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <p class="copyright">&copy; {{ site.github.owner.name }} - License <a href="{{ site.license.url }}" target="_blank">{{ site.license.name }}</a></p>
    </footer>
  </body>
</html>